* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

div i {
    color: rgb(26, 115, 232);
}

a {
    text-decoration: none;
    color: rgb(26, 115, 232);
}

a {
    transition: background-color 0.1s ease;
}

a:active {
    background-color: rgb(163, 152, 152);
}


.backhome {
    text-align: right;
    margin-top: 20px;
}

.backhome a, .backayatharian a {
    background-color: white;
}

.backayatharian {
    text-align: right;
}

i.app {
    color: black;
}

/* home.html */

.header1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.header img {
    margin: auto 8px auto;
}

.formayat {
    border: 1px solid black;
    border-right: 0;
    border-left: 0;
    padding: 20px;
}

.formayat h2 {
    text-align: center;
}

.formayat p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.formayat a {
    color: black;
}

.firstitle {
    font-size: 23px;
    padding-block: 25px;
}

.header2 blockquote {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.secondtitle {
    font-size: 23px;
    padding-block: 25px;
}

.header3 blockquote {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

/* ayat.html */

.ayat {
    background-color: rgb(224, 224, 235);
    padding: 5px;
}

p.ayatt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerleft {
    font-size: 17px;
}
